---
name: home
url: /
---

<div class="home banner">
  <h5 class="uppercase">Lorem ipsum dolor sit amet, consectetur adipisicing elit. </h5>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore, provident, consequuntur voluptatem harum dicta ea omnis cumque quaerat unde suscipit dolor consequatur commodi veritatis molestias deserunt? Facere hic consectetur nulla!</p>
</div>

<div class="text-banner">
  <h6>Lorem ipsum dolor sit amet, consectetur adipisicing elit. </h6>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Temporibus, tenetur, illo eum saepe quisquam modi minus totam illum voluptatum rem incidunt a reprehenderit autem nulla earum eius minima adipisci odit!</p>
</div>

<div class="row expanded">
  <div class="large-4 column">
    <img src="http://placehold.it/400x500" alt="" />
    <h6>THE PRODUCTS YOU LOVE</h6>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo, maiores quasi quisquam optio quia temporibus nam cumque soluta harum consequuntur aspernatur beatae incidunt quis facere aperiam magnam explicabo nisi accusantium.</p>
  </div>
  <div class="large-4 column">
    <img src="http://placehold.it/400x500" alt="" />
    <h6>THE PRODUCTS YOU LOVE</h6>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo, maiores quasi quisquam optio quia temporibus nam cumque soluta harum consequuntur aspernatur beatae incidunt quis facere aperiam magnam explicabo nisi accusantium.</p>
  </div>
  <div class="large-4 column">
    <img src="http://placehold.it/400x500" alt="" />
    <h6>THE PRODUCTS YOU LOVE</h6>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo, maiores quasi quisquam optio quia temporibus nam cumque soluta harum consequuntur aspernatur beatae incidunt quis facere aperiam magnam explicabo nisi accusantium.</p>
  </div>
</div>

<br />
<div class="text-banner">
  <h6>EARLY BIRDS dolor sit amet, consectetur adipisicing elit. </h6>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Temporibus, tenetur, illo eum saepe quisquam modi minus totam illum voluptatum rem incidunt a reprehenderit autem nulla earum eius minima adipisci odit!</p>
</div>

<div class="gender-banner">
  <div class="col-50 woman">
    <a href=""><span class="button">SHOP WOMAN'S</span></a>
  </div>
  <div class="col-50 men">
    <a href=""><span class="button">SHOP MAN'S</span></a>
  </div>
</div>